<!DOCTYPE html>
<html lang="en">
  <head>
    <%- include('../partials/head'); %>

  </head>
  <body class="w-full flex flex-col h-screen items-center justify-center">

    <main class="container  d-flex flex-column align-items-center justify-center vh-100 ">
      <h1 class="text-center">Ingrese datos</h1>
      <form class="w-50 row align-items-center justify-content-center h-50 bg-secondary bg-gradient bg-opacity-25 p-4">
        <div class="col-5 col-md-12">

          <label for="name" class="form-label my-2 text-center w-100">Nombre</label>
    <input id="name" type="text"  class="form-control" aria-describedby="passwordHelpBlock">
        </div>
        <div class="col-5 col-md-12">

          <label for="precio" class="form-label my-2 text-center w-100">Precio</label>
    <input id="precio" type="number"  class="form-control" aria-describedby="passwordHelpBlock">
        </div>
        <div class="col-2 col-md-12">

          <label for="url" class="form-label my-2 text-center w-100">Link IMG</label>
    <input id="url" type="text" class="form-control" aria-describedby="passwordHelpBlock">
        </div>
        <button type="button" id="enviar" class="btn btn-success my-4">Enviar</button>
      </form>
      
      <a href="/productos" class="btn btn-dark my-2">Ver productos</a>

    </main>

    <script>
      window.addEventListener("load", () => {
        let boton = document.getElementById("enviar");
        boton.addEventListener("click", publicarData);
      });
      function publicarData(e) {
        try {
          e.preventDefault();
          let formNombre = document.getElementById("name");
          let formPrecio = document.getElementById("precio");
          let formUrl = document.getElementById("url");

          let xhr = new XMLHttpRequest();
          let newProducto = {
            name: formNombre.value,
            price: formPrecio.value,
            thumbnail: formUrl.value,
          };

          xhr.open("POST", "http://localhost:8080/productos/");
          xhr.setRequestHeader("Content-Type", "application/json");
          xhr.send(JSON.stringify(newProducto));
          location.reload()

          console.log(newProducto);
        } catch (error) {
          console.log("Hubo un error", error);
        }
      }
    </script>
  </body>
</html>
